#bucket-title {
  color: rgb(4, 45, 160);
  margin: 10px;
  padding: 10px;
}

#bucket-detail-body {
  text-align: left;
}

#label {
  text-decoration: underline;
  font-weight: bold;
  padding-left: 20px;
}
